<html>

	<head>
		<title>Angular 2</title>  
		<meta charset="utf-8"></meta>
		<base data-th-href="${'/angular2/param3-' +  param3 + '/main/'}"></base>
		
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="icon" type="image/x-icon" href="favicon.ico"></link>
	</head>

<body>
	
	<h1>Angular 2</h1>	
	
	<p>parameter1: <span data-th-text="${param1}"></span></p>
	<p>parameter2: <span data-th-text="${param2}"></span></p>
	
	<div style="border: 1px solid black; padding: 10px;">
  		<app-root>Loading...</app-root>
  	
	  	<script type="text/javascript" data-th-src="@{/js/angular2/inline.js}"></script>
	  	<script type="text/javascript" data-th-src="@{/js/angular2/styles.bundle.js}"></script>
	  	<script type="text/javascript" data-th-src="@{/js/angular2/main.bundle.js}"></script>
  	</div>
  	
  	
	<a data-th-href="@{/page1}">page 1</a>
	<a data-th-href="@{/page2}">page 2</a>
</body>

</html>